@font-face {
    font-family: munro;
    src:url(munro/munro-small.ttf), 
        url(munro/munro-small.ttf),
        url(munro/munro.ttf);
}
body{
    font-family: munro;
    color : white;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    
  }
  
  #container{
      overflow-y: scroll;
  }
  .topTab{
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  height: 20vh;
  position: fixed;
  font-size: 25px;
  color: white;
  background-color: khaki;
  }
  .pg{
    font-size: 100px;
    height: 100vh;
    background-color: blue;
    text-align: center;
  }
  
  a{
   color: white;
  }

  #logo {
    background-image: url(img/TRlogo2.gif);
    background-size: cover;
    height: 165px;
    width: 165px;
}