@font-face {
    font-family: munro;
    src:url(munro/munro-small.ttf), 
        url(munro/munro-small.ttf),
        url(munro/munro.ttf);
}
html:focus-within {
    scroll-behavior: smooth;
  }


* {
    overflow: hidden; 
    margin: 0;
    padding: 0;
    image-rendering: pixelated;
    text-decoration: none; 

}
#yes{
    height: 1vh;
}


body {
    font-family: munro;
    color : white;
    /* padding: 10px;  */
 } 
header{
    background-image: url(img/yellowcloud2.gif);
    background-size:initial; 
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 10; 
}
/*  header #background {
    background-image: url(img/yellowcloud.gif);
    background-size: cover;
    width: 100%;
    height: 100vh; 
    z-index: 1;
}*/
#logo {
    background-image: url(img/TRlogo2.gif);
    background-size: cover;
    height: 165px;
    width: 165px;
}

.pg{
    height: 100vh;
}
#content{
    overflow-y: scroll; 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #6C76AC;
    height:150vh;
}
article{
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 30vh;
}
#Project{
    background-color: #6C76AC;

}

/* #street{
    background-image: url(img/Untitled\ 27.png);
    background-size: cover;
    image-rendering: pixelated;
    width: 307px auto;
    height: 305px;
    position: absolute;
    z-index: 12;
    top: 10px;
    left: 10px;
} */

/* navbar */

#nav {
    /* background-color: #000; */
    top: 0;
    width: 100%;
    height: 30vh;
}
#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
#nav li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav li #logo{
    transition: height 0.4s;
}
#nav ul li a {
    color: white;
    transition: all 0,4s;
    font-size: 25px;
}
#nav.fixed {
    position: fixed;
}
#nav.fixed ul li #logo {
    background-image: url(img/TRlogo3.png);
    
}
#nav.fixed ul li #logo:hover{
    background-image: url(img/TRjump.gif);
}
#nav.fixed ul li a {
    color: #F9CC76
}

/* responsive tricks */

@media screen and (min-width: 0px){
    header{
        background-size:cover;
    }
    
      
}

@media screen and (max-width: 770px) {
    
    .navMenu {
        display: none;
        font-size: 0px;
        width: 0px;
    }
    
}
@media screen and (max-width: 500px){
    .navMenu {
        display: none;
    }

}
    
